---
BasedOnStyle: Microsoft
AlignConsecutiveMacros: "true"
AlignConsecutiveAssignments: "true"
AlignTrailingComments: "true"
AllowShortIfStatementsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: All
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: "false"
IndentCaseLabels: "false"
Language: Cpp
NamespaceIndentation: All
UseTab: Never
KeepEmptyLinesAtTheStartOfBlocks: "false"
SeparateDefinitionBlocks: Always
PointerAlignment: Left
BraceWrapping:
  SplitEmptyFunction: false
