[user]
	name = Giorgio Mendieta
	email = 31053658+GiorgioMendieta@users.noreply.github.com
[init]
	defaultBranch = main
[color]
	ui = auto
[alias]
  	# List available aliases
  	aliases = !git config --get-regexp alias | sed -re 's/alias\\.(\\S*)\\s(.*)$/\\1 = \\2/g'
	# Display tree-like log, because default log is a pain…
	# lg = log --graph --date=relative --pretty=tformat:'%Cred%h%Creset -%C(auto)%d%Creset %s %Cgreen(%an %ad)%Creset'
	cm = commit -m
	cam = commit -am
	st = status -sb
[core]
	excludesfile = ~/.gitignore_global
	editor = code --wait
